<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>EVENT INVITATION</title>
    <style>
        .img{
            background-size: cover;
            height: 550px;
            width: 1550px;
            background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-smart-robot-arm-advertising-background-backgroundrobotblue-backgrounddark-backgroundlightlight-image_68405.jpg');
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <div class="text-center">
            <h1 class="display-8">RoboFest</h1>
            <div>Master the basics and build your own robot.
            </div>
        </div>
    </div>
    <div class="p-5 text-center bg-image img" >
        <div class="text-right">
            <div class="text-white">
                <h1 class="mb-3">Live-Streamed Panel Discussion</h1>
                <h4 class="mb-3">Join Our Free Online Workshop,</h4>
                <h4 class="mb-3">On 19 Feb, 4pm</h4>
                <a href="/register/" class="btn btn-outline-light btn-lg" role="button">Register Now</a>
            </div>
        </div>
    </div>
    <!-- Background image -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>